.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar-container:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.navbar-left h1 {
  font-size: 30px;
  font-weight: 500;
}
.navbar-left h1 span {
  border: 2px rgb(203, 203, 203) solid;
  padding: 1px;
  background-color: lightseagreen;
  border-radius: 10px;
  color: white;
}
.navbar-middle ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-middle ul li {
  margin-left: 30px;
  list-style: none;
  font-weight: 600;
  color: rgb(81, 81, 81);
}
.navbar-middle ul li:hover {
  background-color: rgb(185, 185, 185);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  color: black;
}
.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-right button {
  margin-right: 15px;
  padding: 10px;
  width: 89.5px;
  border: 2px lightgray solid;
  border-radius: 8px;
}
.navbar-right button:hover {
  border: 2px rgb(186, 186, 186) solid;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1161px) and (min-width: 300px) {
  .navbar-middle {
    display: none;
  }
}
